*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,body{
  width: 100%;
  height: 100%;
  /* overflow: hidden;
  padding: 1px; */
}
/* #game{
   position: absolute;
   top: 40px;
   left: 600px;
} */

#main{
  height: 100%;
  width: 100%;
  background: rgb(101, 206, 101);
  display:flex;
  align-items: center;
  justify-content: center;
}


#container{
  height:80%;
  width: 80%;
  background: #fcfbfb;
  border-radius: 10px;
  overflow: hidden
     ;
}


#content{
  height: 100px;
  width: 100%;
  background: #255d29;
  
  display: flex;
  align-items: center;

  justify-content: center;
}

.elem{
  display: flex;
  gap: 5px;

}
.elem h2{
  font-weight: 400;
  /* padding: 7px; */
  color: white;
  padding: 7px 15px;
}


.box{
  height: 40px;
  width: 40px;
  background: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 900;
  color: #3d842b;
}


#bottom{
  height: calc(100% - 100px);
  background: #dfdada;
  padding: 11px;
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  color: red;
  align-items: center;

 
}

.bubble{
 
  height: 50px;
  width: 50px;
  background: #397b3a;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}


.bubble:hover{
  background-color: #375529;
  cursor: pointer;
}


.bottom h1{
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}




@media (max-width:720px){
    #content{
    margin-bottom: 5px;
    height: 200px;
    
    }

  #bottom{
    
    background: #ffffff;
    padding: 2px 7px;
    display: flex;
    gap: 5vw;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    color: red;
    align-items: center;
  
   
  }


  
  .elem h2{
    font-size: 5vw;
    font-weight: 400;
    
  }
  
  
  .box{
    margin-top: 1.3vw;
    padding: 2vw 0;
    font-size: 4vw;
    height: 50px;
    width: 40px;
   
  }


  .bubble{
 
    height: 100px;
    width: 100px;
    
  }
  
  
}